body{
    display: flex;
    padding: 50px;

    justify-content: center;
    align-items: center;
}

.user-section{
    display: flex;
    border: 10px black solid; 
    border-radius: 4px;
}
.menu{
    background-color: beige;
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-button{
    padding: 20px;
    border: black 3px solid;
    border-radius: 15px;
    background-color: darkgray;
    font-size: 20px;
    font-weight: 600;
}
.menu-button:hover{
    background-color: grey;
    cursor: pointer;
}
.size-selection,
.color-selection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;

}

.container{
    width: 600px;
    height: 600px;
    background-color: darkgray;

    display: grid;
    /* grid-gap: 1px; */
}

.fourGrid{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.sixGrid{
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}
.eightGrid{
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}
.twelveGrid{
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}
.sixteenGrid{
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}
.twentyFourGrid{
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
}

.item{
    border: black 1px solid;
}