body{
    display: flex;
    padding: 50px;

    justify-content: center;
    align-items: center;
}

.container{
    width: 600px;
    height: 600px;
    border: 5px black solid;
    background-color: grey;

    display: grid;
    grid-gap: 1px;
}

.fourGrid{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.sixGrid{
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}
.eightGrid{
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}
.twelveGrid{
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}
.sixteenGrid{
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.item{
    border: red 10px solid;
    background-color: lightcoral;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 150%;
}

.item1{
    grid-area: 1 / 1 / 2 / 4;
}